/src/
/plotToolbox-prev.py
/simAnnealOrbSimFunc-prev.cpp
/documentation/html
/documentation/latex
/documentation/sphinxBuilds/cppSide/build
/documentation/sphinxBuilds/pythonSide/build
/settings_and_InputData/extras
/main.log
/ExoSOFT/
